body{
  background-image: url("https://images.pexels.com/photos/1561020/pexels-photo-1561020.jpeg?cs=srgb&dl=abstract-abstract-expressionism-abstract-painting-1561020.jpg&fm=jpg");
  margin-top: 230px;
  margin-left: 5%;
}
